<h2>Ventas de Mi Tienda</h2>

<div *ngIf="ventas.length > 0">
  <table>
    <thead>
      <tr>
        <th>Título Producto</th>
        <th>Cantidad</th>
        <th>Plataforma</th>
        <th>Precio Producto</th>
        <th>Total Pagar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let venta of ventas">
        <td>{{ venta.titulo_producto }}</td>
        <td>{{ venta.cantidad }}</td>
        <td>{{ venta.plataforma }}</td>
        <td>{{ venta.precio_producto }}</td>
        <td>{{ venta.total_pagar }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="ventas.length === 0">
  <p>No hay ventas registradas.</p>
</div>