<div *ngIf="carrito.length > 0; else carritoVacio" class="container mt-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div *ngFor="let producto of carrito" class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">{{ producto.nombre }}</h5>
          <div class="form-group">
            <label for="cantidad{{ producto.nombre }}">Cantidad:</label>
            <input type="number" class="form-control" id="cantidad{{ producto.nombre }}" [(ngModel)]="producto.cantidad" name="cantidad{{ producto.nombre }}">
          </div>
          <p class="card-text">Precio Unitario: {{ producto.precio_unitario | currency }}</p>
          <p class="card-text">Precio Total: {{ producto.precio_total | currency }}</p>
          <button class="btn btn-danger" (click)="eliminarProducto(producto.nombre)">Eliminar</button>
        </div>
      </div>
      <div class="d-flex justify-content-between">
        <button class="btn btn-warning" (click)="vaciarCarrito()">Vaciar Carrito</button>
        <button class="btn btn-success" (click)="realizarCompra()">Realizar Compra</button>
      </div>
    </div>
  </div>
</div>

<ng-template #carritoVacio>
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="alert alert-info" role="alert">
          El carrito está vacío
        </div>
      </div>
    </div>
  </div>
</ng-template>