<div class="container">
  <h2>Bienvenido a nuestra página de Videojuegos</h2>
  <p>Explora nuestras opciones de consolas, accesorios y más.</p>
  <p>Se encuentra en la tienda {{tienda}}</p>
</div>

<div class="container">
  <div class="card-container">
      <div class="card" *ngFor="let producto of productosPaginados">
          <div class="card-body">
              <p>Nombre: {{ producto.titulo }}</p>
              <p>Plataforma: {{ producto.plataforma }}</p>
              <p>Marca: {{ producto.categoria }}</p>
              <p>Precio: ${{ producto.precio }}</p>
              <p>Cantidad: {{ producto.cantidad }} pz</p>
          </div>
          <div class="card-footer">
            <button (click)="agregarAlCarrito(producto)">Agregar al Carrito</button>
          </div>
      </div>
  </div>
  <div class="spinner-container" *ngIf="mostrarSpinner">
    <div class="spinner">
        <img src="../../assets/gifs/progress-bar.gif" alt="Cargando...">
    </div>
</div>
</div>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item" [class.disabled]="currentPage === 1">
      <a class="page-link" (click)="prevPage()" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item" *ngFor="let page of totalPagesArray" [class.active]="page === currentPage">
      <a class="page-link" (click)="setPage(page)">{{ page }}</a>
    </li>
    <li class="page-item" [class.disabled]="currentPage === totalPages">
      <a class="page-link" (click)="nextPage()" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>


