<div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card mt-4">
          <div class="card-body">
            <h2 class="card-title">Formulario de Registro de Productos</h2>
            <form (ngSubmit)="onSubmit()">
              <div class="mb-3">
                <label for="titulo" class="form-label">Título:</label>
                <input type="text" class="form-control" id="titulo" [(ngModel)]="producto.titulo" name="titulo" required>
              </div>
  
              <div class="mb-3">
                <label for="plataforma" class="form-label">Plataforma:</label>
                <input type="text" class="form-control" id="plataforma" [(ngModel)]="producto.plataforma" name="plataforma" required>
              </div>
  
              <div class="mb-3">
                <label for="categoria" class="form-label">Categoría:</label>
                <input type="text" class="form-control" id="categoria" [(ngModel)]="producto.categoria" name="categoria" required>
              </div>
  
              <div class="mb-3">
                <label for="precio" class="form-label">Precio:</label>
                <input type="number" class="form-control" id="precio" [(ngModel)]="producto.precio" name="precio" required>
              </div>
  
              <div class="mb-3">
                <label for="cantidad" class="form-label">Cantidad:</label>
                <input type="number" class="form-control" id="cantidad" [(ngModel)]="producto.cantidad" name="cantidad" required>
              </div>
  
              <button type="submit" class="btn btn-primary">Crear Producto</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  