<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div class="bg-light p-4">
                <h2>Formulario de Registro de Productos</h2>
                <!-- Aquí puedes agregar tu formulario de registro usando componentes de Bootstrap -->
                <form [formGroup]="formulario" (ngSubmit)="guardarProducto()" class="container needs-validation" novalidate>
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre:</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" formControlName="nombre" >
                        <div class="invalid-feedback">Este campo es obligatorio.</div>
                    </div>

                    <div class="mb-3">
                        <label for="categoria" class="form-label">Categoria:</label>
                        <input type="text" class="form-control" id="categoria" name="categoria" formControlName="categoria" >
                        <div class="invalid-feedback">Este campo es obligatorio.</div>
                    </div>
                    <div class="mb-3">
                        <label for="cantidad" class="form-label">Cantidad:</label>
                        <input type="number" class="form-control" id="cantidad" name="cantidad" formControlName="cantidad" >
                        <div class="invalid-feedback">Este campo es obligatorio.</div>
                    </div>

                    <div class="mb-3">
                        <label for="precio" class="form-label">Precio:</label>
                        <input type="number" class="form-control" id="precio" name="precio" formControlName="precio" >
                        <div class="invalid-feedback">Este campo es obligatorio.</div>
                    </div>
                    <div class="mb-3">
                        <label for="descripcion" class="form-label">Descripcion:</label>
                        <input type="text" class="form-control" id="descripcion" name="descripcion" formControlName="descripcion" >
                        <div class="invalid-feedback">Este campo es obligatorio.</div>
                    </div>
                    <button type="submit" class="btn btn-primary">Registrar Producto</button>
                </form>
            </div>
        </div>
        <div class="col-md-4">
            <div class="bg-light p-4">
                <h2>Lista de Productos</h2>
                <!-- Aquí puedes mostrar la lista de clientes registrados usando componentes de Bootstrap -->
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let producto of prod">
                        {{producto.id_producto}}
                        {{producto.nombre}}
                        <br>
                        <button class="btn btn-primary" (click)="editarProducto(producto)">Editar</button>
                        <button class="btn btn-danger" (click)="eliminarProducto(producto)">Eliminar</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>