<div class="store-selection">
    <h2>Seleccione una tienda</h2>
    <div class="grid-container">
      <button (click)="selectStore('Console Corner')" class="btn btn-primary">Console Corner</button>
      <button (click)="selectStore('Arcade Alley')" class="btn btn-primary">Arcade Alley</button>
      <button (click)="selectStore('GameZone')" class="btn btn-primary">GameZone</button>
      <button (click)="selectStore('PixelPlay')" class="btn btn-primary">PixelPlay</button>
      <button (click)="selectStore('VR Vault')" class="btn btn-primary">VR Vault</button>
    </div>
  </div>