<h2>Empleados de la Tienda {{nombreTienda}}</h2>

<div *ngIf="empleados.length > 0">
  <table class="table table-striped">
    <thead>
      <tr class="table-dark">
        <th  scope="col">Nombre</th>
        <th  scope="col">Apellido</th>
        <th  scope="col">Cargo</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr *ngFor="let emp of empleados">
        <td>{{ emp.nombre }}</td>
        <td>{{ emp.apellido }}</td>
        <td>{{ emp.cargo }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="empleados.length === 0">
  <p>No hay empleados registrados.</p>
</div>